ul {
  list-style-type: none;
  margin: 0;
  padding: 1em 3em;
  overflow: hidden;
  background-color: rgb(34, 41, 55);
}

li {
  float: right;
}

.addNoteBtn {
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(84, 179, 187);
  height: 3em;
  width: 9em;
  color: white;
  border-radius: .2em;
} 

.plusIcon {
  float: left;
  margin-left: 1em;
}