.card {
  background: white;
  width: 6.5em;
  height: 5em;
  margin: .2em;
  color: rgb(98, 127, 147);
  font-weight: bold;
  font-size: 3em;
  box-shadow: 0 0.05em 0.1em grey;
  border-radius: .1em .1em .15em .15em;
  overflow: hidden;
}

.color {
  background: rgb(244, 169, 176);
  height: .15em;
}

.cardContent {
  height: 100%;
}

.cardHeader {
  height: 25%;
  border-bottom: .05em solid rgb(249, 249, 251);
}

.cardHeaderText {
  height: 100%;
  padding: .4em;
  float: left;
}

h1 {
  font-size: .4em;
  font-weight: lighter;
}

.cardBody {
  height: 75%;
  overflow: auto;
  font-size: .3em;
  font-weight: lighter;
  padding: 1.2em;
}

.iconsDiv {
  float: right;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  width: .3em;
  height: .3em;
}

.pencil {
  background: url(../src/public/assets/svg/pencil.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bin {
  background: url(../src/public/assets/svg/trash.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.iconsHolder {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}